.cache
scalastyle-output.xml
.classpath
.idea
.metadata
.settings
.project
.version.properties
filter.properties
logs.zip
target
tmp
*.class
*.iml
*.swp
*.jar
*.zip
*.log
*.pyc
.DS_Store
build-targetatlassian-ide-plugin.xml
*.ipr
*.iws
docs/_build
